@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .safe-top-padding {
        padding-top: env(safe-area-inset-top, 20px);
    }

    .safe-pb {
        padding-bottom: env(safe-area-inset-bottom, 20px);
    }
}

/* Custom scrollbar for dark mode */
.dark ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.dark ::-webkit-scrollbar-track {
    background: #0f172a;
}

.dark ::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #475569;
}